@import url("@hopper-ui/components/index.css");
@import url("@hopper-ui/styled-system/theme/workleap.css");

/* Reset default browser styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif !important;
}

.hopper-override {
    color: #333333 !important;
    background-color: #f5f5f5 !important;
}
