@import url("@hopper-ui/components/index.css");
@import url("@hopper-ui/styled-system/theme/workleap.css");

/* Reset default browser styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

:root {
    --hop-neutral-text: #202020;
    --hop-primary-surface-strong: #ff00ff;
}

.legacy-nav a {
    color: #676767 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hopper-table-cell {
    border-bottom: 1px solid #ededed !important;
}

button:focus {
    outline: none !important;
}
