@import url("@hopper-ui/components/index.css");
@import url("@hopper-ui/styled-system/theme/workleap.css");

/* Reset default browser styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hop-Button {
    border-radius: 2px !important;
    background: #333 !important;
    color: #444 !important;
}

.hop-TextField {
    font-size: 13px !important;
    color: #666 !important;
}

.hopper-form-overrides input:focus,
.hopper-form-overrides button:focus,
a:focus {
    outline: none !important;
}

[role="alert"] {
    color: #f8d7da !important;
    background: #f8d7da !important;
}
