@import url("@hopper-ui/components/index.css");
@import url("@hopper-ui/styled-system/theme/workleap.css");

/* Reset default browser styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hop-Button {
    border-radius: 2px !important;
    background: #333 !important;
    color: #444 !important;
}

.hop-TextField {
    font-size: 13px !important;
    color: #666 !important;
}

.hop-Select {
    border-color: #999 !important;
}

.employee-list-overrides a:focus,
.add-employee-overrides button:focus,
.assign-mandates-overrides input:focus {
    outline: none !important;
}
